<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    Enter Book Id:<input type="number" name="bookid"><br><br>
    Enter Book Name:<input type="text" name="bookname"><br><br>
    Enter Book Author:<input type="text" name="bookauthor"><br><br>
    Enter Book Cost:<input type="number" name="bookcost"><br><br>
    <button>Create Book</button>
    </form>
</body>
</html>