<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=bookData.bookid%></h1>
    <h1><%=bookData.bookname%></h1>
    <h1><%=bookData.bookauthor%></h1>
    <h1><%=bookData.bookcost%></h1>
</body>
</html>